<div class = "container">
    <div class = "row">
        <div class = "product col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat = "product in products | filter:searchQuery">
        	<img class='product-img' ng-src="{{product.image || 'img/placeholder.jpg'}}">
            <h3 class="product-title"><a ui-sref="product-detail({id: product.stub})">{{product.name}}</a></h3>
            <h4 class="product-price">{{product.price | currency }}</h4>
            <!--<p>{{product.categories[0]}}</p> -->
            <button class="btn btn-primary quick-btn fix-bottom-left" ng-click="popup(product.stub)">Quick View</button>
        </div>
    </div>
    <div ng-if="user.role === 'admin'">
        <h3>Create Product</h3>
        <form>
            <input type="text" ng-model="product.name" placeholder="Name" />
            <textarea ng-model="product.description" placeholder="Description"></textarea>
            <input type="number" ng-model="product.price" placeholder="Price"/>
            <input type="text" ng-model="product.manufacturer" placeholder="Manufacturer" />
            <input type="text" ng-model="product.image" placeholder="Image URL" />
            <input type="submit" ng-click="createProduct(product.name, product.description, product.price, product.manufacturer, product.image)" value="Create Product"/>
        </form>
    </div>
</div>