<div class="product-modal">
	<img class="" src="{{product.image || 'img/placeholder.jpg'}}">
	<h3 class="product-title">{{product.name}}</h3>
	<div ng-raty="ratyOptions" ng-model="avgRating" ng-if="avgRating!=-1"></div>
	<h4 class="product-price">{{product.price | currency }}</h4>
	<p class="product-description">{{product.description}}</p>

	<button class="btn btn-primary quick-btn" ng-click="addcartmod(product)">AddToCart</button>
	<button class="btn btn-primary quick-btn" ng-click="closemod()">Close Quick View</button>
</div>