<div class='jumbotron'>
  <div class='container'>
    <h1>Welcome to the FireStore.</h1>
    <p>The FireStore has every product that you could ever want. Checkout the recommended products to see the hot products this season.</p>
  </div>
</div>

<div class="container recommendations">
	<h2>Recommendations</h2>
  <div class='row'>
  	<div class='product recommended-product col-xs-12 col-sm-4 col-md-3 col-lg-3' ng-repeat='product in products'> <!-- We want to finter on the product catagory that user set.-->
  		<img class='product-img' ng-src="{{product.image || 'img/placeholder.jpg'}}">
  		<h3 class='product-title'><a ui-sref="product-detail({id: product.stub})">{{product.name}}</a></h3>
      <h4 class='product-price'>{{product.price | currency }}</h4>
      <button class="btn quick-btn fix-bottom-left" ng-click="popup(product.stub)">Quick View</button>
  	</div>
  </div>
</div>
