<div class="cart-main container-fuild">
    <h2>My Orders</h2>
    <table ng-if="previous.orders.length != 0" class="table table-striped">
        <tr>
            <td>Order ID</td>
            <td>Order Date</td>
            <td>Order Total</td>
        </tr>
        <tr ng-repeat="order in previous.orders">
            <td>{{order.$id}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.total}}</td>
        </tr>
    </table>
    <p id="empty-cart-message" ng-if="previous.orders.length == 0">You have no previous orders</p>
</div>
