<div class='container col-md-8 col-lg-'>
	<h1>Enter a Shipping Address</h1>
	<form class='form-horizontal' name='shippingAddress' novalidate>
		<div class='form-group'>
			<label name='fullNameInput'>Full Name:</label>
			<input type='text' id='fullNameInput' name='fullName' class='form-control' required />
		</div>
		<div class='form-group'>
			<label name='address1Input'>Address Line 1:</label>
			<input name='address1' type='text' id='address1Input' class='form-control' required />
		</div>
		<div class='form-group'>
			<label name='address2Input'>Address Line 2:</label>
			<input type='text' id='address2Input' class='form-control' />
		</div>
		<div class='form-group'>
			<label name='cityInput'>City:</label>
			<input type='text' id='cityInput' class='form-control' required />
		</div>
		<div class='form-group'>
			<label name='stateInput'>State:</label>
			<input type='text' id='stateInput' class='form-control' required />
		</div>
		<div class='form-group'>
			<label name='zipInput'>Zip:</label>
			<input type='text' id='zipInput' class='form-control' required />
		</div>
		<div class='form-group'>
			<label name='phoneInput'>Phone Number:</label>
			<input type='text' id='phoneInput' class='form-control' />
		</div>
		<button class='btn btn-default' ng-disable='shippingAddress.$invalid'>Complete Address</button>
	</form>
</div>